*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(233, 221, 221);
}
.q{
    text-align: center;
    font-size: 30px;
    border-bottom: 2px rgba(0, 0, 0, 0.67) solid;
    border-left: 2px rgba(0, 0, 0, 0.67) solid;
    border-right: 2px rgba(0, 0, 0, 0.67) solid;
    padding: 25px;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: black 10px 10px 10px;
    background-color: rgb(155, 155, 255);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.ql{
    text-align: left;
    font-size: 20px;
    padding: 25px;
    background-color:rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.ex{
    text-align: center;
    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100%;
}
